name: disable_battery_optimization
description: Flutter plugin to check and disable battery optimizations. Also shows custom steps to disable the optimizations in devices like mi, xiaomi, samsung, oppo, huawei, oneplus etc
version: 1.2.0
homepage: https://github.com/pvsvamsi/Disable-Battery-Optimizations

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  plugin:
    platforms:
      android:
        package: in.jvapps.disable_battery_optimization
        pluginClass: DisableBatteryOptimizationPlugin